@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato&family=Source+Sans+Pro&family=Ubuntu&display=swap');
:root{
    --titulos: 'Bruno Ace SC';
    --subtitulos: 'Ubuntu' ;
    --links: 'lato';
    --texto: 'Source Sans Pro';
    --color_texto: rgb(100, 100, 100);
    --color_hover: rgb(160, 160, 160);
    --fondo_base: linear-gradient(35deg, rgba(32,0,240,1) 0%, rgba(38,0,255,1) 35%, rgba(0,228,255,1) 100%);
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: var(--fondo_base);
    border-radius: 5px;
    transition: 0.4s;
}

body::-webkit-scrollbar-thumb:hover{
    background: #1c4727;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    font-family: var(--links);
}

b{
    font-weight: 600;    
}/*ANIMACION DE ENTRADA*/
@keyframes apertura{
    0%{
        transform: scale(0.3);
        opacity: 0;
        filter: blur(10px);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/*CABEZERA*/
#bt_menu, #bot-main, #bot-close, #part, .contacto{
    display: none;
}

.parte{
    display: none;
}

header{
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header > a{
    background: var(--fondo_base);
    padding: 8px 0;
    text-align: center;
    color: white;
    font-family: var(--links);
    font-size: 100%;
    font-weight: 700;
    width: 12%;
    border-radius: 15px;
    transition: 0.8s;
}

header > a:hover{
    box-shadow: 0 0 5px rgba(32,0,240,1), 0 0 15px rgba(0,228,255,1), 0 0 30px rgba(0,228,255,1);
}

nav{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.full{
    width: 35%;
}

.menu{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items:center;
    gap: 15px;
}

.menu a{
    color: var(--color_texto);
    font-family: var(--links);
    font-weight: 700;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    gap: 2px;
}

.menu a:hover, .menu a:hover svg{
    color: var(--color_hover);
    fill: var(--color_hover);
}

.menu a svg{
    fill: var(--color_texto);
    transition: all 0.5s;
}

/*media queris*/

@media screen and (max-width:800px) {
    .full{
        width: 60%;
    }

    nav{
        width: 60%;
        gap: 20px;
    }

    header > a{
        width: 20%;
    }

    #bot-close, #bot-main{
        display: block;
    }

    #bot-main svg{
        fill: var(--color_texto);
    }

    #bot-close svg, #bot-main svg{
        width: 50px;
        height: 50px;
    }

    .menu{
        background: var(--fondo_base);
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        transition: ease-in-out 0.8s;
        opacity: 0%;
        z-index: 4;
    }

    .menu a{
        color: white;
        font-size: 110%;
        width: 97%;
        padding: 10px 0;
        padding-right: 30px;
        justify-content: flex-end;
        gap: 8px;
    }

    .menu a:hover{
        background: rgba(0, 0, 0, 40%);
    }

    .menu a svg{
        fill: white;
    }

    #bt_menu:checked ~ .menu{
        left: 0px;
        opacity: 100%;
    }
}

@media screen and (max-width:500px){
    .contacto{
        display: block;
        width: 35px;
        height: 35px;
    }

    header > a{
        position: fixed;
        top: 80vh;
        right: 30px;
        width: auto;
        padding: 10px;
        font-size: 0%;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 70%);
        z-index: 3;
        animation: both contacto-boton;
        animation-duration: 2s; 
        animation-iteration-count:3;
        animation-timing-function: ease-in-out; 
    }

    nav{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .menu{
        width: 100%;
    }
}

@keyframes contacto-boton{
    0%{
        transform: rotate(0deg);
        box-shadow: 0 0 5px rgb(0, 104, 0), 0 0 15px rgb(46, 212, 0), 0 0 30px rgb(162, 255, 0);
    }
    50%{
        box-shadow: 0 0 5px rgb(240, 116, 0), 0 0 15px rgb(255, 170, 0), 0 0 30px rgb(255, 217, 0);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 60%);
    }
}

/*primera pa4rte*/

#firts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 40px;
}

#firts article{
    width: 40%;
    background: rgba(0,0,0,5%);
    padding: 20px 0px;
    border-radius: 15px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 25%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#firts article div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#firts article h2{
    font-family: var(--titulos);
    font-size: 290%;
    width: 80%;
    text-align: center;
}

#firts article img{
    width: 40%;
}

#firts article p{
    width: 90%;
    text-align: center;
    font-size: 110%;
    font-family: var(--texto);
    color: var(--color_texto);
}

/*media querys*/

@media screen and (max-width:850px){
    #firts article{
        width:80%;
    }

    #firts article img{
        width: 250px;
    }
}

@media screen and (max-width:550px){

    #firts article{
        width: 100%;
    }

    #firts article p{
        font-size: 110%;
    }

    #firts article img{
        width: 350px;
    }
}

/*separador*/
.separador{
    margin: 30px auto;
    width: 90%;
    background: var(--fondo_base);
    height: 8px;
    border-radius: 15px;
}


/*segunda parte*/

#second{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

#second > img{
    width: 400px;
}

#second .m_pago{
    color:white;
    background: rgb(58, 58, 207);
    width: 75%;
    padding: 10px 0;
    height: auto;
    min-height: 70px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 25%);
    border-radius: 15px;
    animation: both apertura;
    animation-timeline: view(80% 5%);
    animation-range: entry();

    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.m_pago h3{
    font-family: var(--subtitulos);
}

.m_pago p{
    font-family: var(--texto);
}

.m_pago a {
    color: var(--color_hover);
    font-family: var(--links);
}

#nequi{
    width: 120px;
}

#davi{
    width: 300px;
}

#efectivo{
    width: 250px;
}

#card{
    width: 200px;
}

#second .m_pago h3{
    font-size: 180%;
}

#second .m_pago p{
    width: 40%;
    font-size: 150%;
}
/*media querys*/
@media screen and (max-width:1050px) {
    #second .m_pago{
        width: 85%;
    }
}

@media screen and (max-width:800px) {
    #second .m_pago{
        width: 95%;
    }
    #second .m_pago h3{
        font-size: 150%;
    }

    #second .m_pago p{
        font-size: 120%;
    }
    #nequi{
        width: 100px;
    }
    
    #davi{
        width: 260px;
    }
    
    #bbva{
        width: 170px;
    }
}

@media screen and (max-width:800px){
    #second .m_pago{
        padding-top: 10px;
        padding-bottom: 10px;

        flex-direction: column;
    }
    #second .m_pago p{
        font-size: 120%;
        width: 80%;
        margin-bottom: 10px;
        text-align: center;
    }
    #second > img{
        width: 60%;
    }
}

/*footer*/
footer{
    width: 100%;
    background: rgba(0,0,0,90%);
    padding: 20px 0;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer h3{
    margin: 0 auto;
    color: white;
}

footer article{
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer article .date{
    width: 25%;
    text-align: center;
}

footer article .date h3{
    font-size: 140%;
    font-family: var(--subtitulos);
    color: rgb(68, 48, 202);
}

footer article .date p{
    font-size: 110%;
    font-family: var(--texto);
    color: rgb(167, 167, 167);
}

footer article .date a{
    font-size: 100%;
    font-weight: 700;
    font-family: var(--links);
    color:rgb(151, 151, 151);
    transition: 0.3s;
}

footer article .date a:hover{
    color: rgb(219, 219, 219);
}

footer article .date svg{
    width: 8%;
}


/*medias queris*/

@media screen and (max-width:900px){
    footer article .date{
        width: 30%;
    }

    footer article{
        gap: 10px;
    }
}

@media screen and (max-width:500px){
    footer article .date{
        width: 80%;
    }
}

