* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: radial-gradient(circle, rgba(184,184,184,0.30) 0%, rgba(77, 77, 77, 0.87) 100%), url(../css/img/formulario/montañas.jpg);
    background-size: cover;
    background-position: center;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
    background: rgb(109, 128, 112);
}

body::-webkit-scrollbar-thumb{
    background: #27332a;
    *border-radius: 5px;
    transition: 0,4s;
}

body::-webkit-scrollbar-thumb:hover{
    background: #1c4727;
}

a {
    text-decoration: none;
}


/*formulario*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario{
    background: white;
    width: 30%;
    max-width: 600px;
    height: auto;
    min-height: 300px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 45%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#formulario img{
    width: 60%;
    margin-bottom: 25px;
}

#formulario h2{
    font-size: 180%;
    margin-bottom: 20px;
}

#formulario .input{
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    outline:none;
    resize: none;
}

#formulario #boton{
    width: 50%;
    padding: 5px 8px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-size: 130%;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
}

#formulario a{
    *background: green;
    width: 20%;
    padding: 5px 3px;
    color: gray;
    text-align: center;
    font-size: 120%;
    border-radius: 30px;
}

#formulario a:hover{
    color: blue;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 45%) ;
}