@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato&family=Source+Sans+Pro&family=Ubuntu&display=swap');
:root{
    --titulos: 'Bruno Ace SC';
    --subtitulos: 'Ubuntu' ;
    --links: 'lato';
    --texto: 'Source Sans Pro';
    --color_texto: rgb(100, 100, 100);
    --color_hover: rgb(160, 160, 160);
    --fondo_base: linear-gradient(35deg, rgba(32,0,240,1) 0%, rgba(38,0,255,1) 35%, rgba(0,228,255,1) 100%);
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: var(--fondo_base);
    border-radius: 5px;
    transition: 0.4s;
}

body::-webkit-scrollbar-thumb:hover{
    background: #1c4727;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    font-family: var(--links);
}

b{
    font-weight: 600;    
}/*ANIMACION DE ENTRADA*/
@keyframes apertura{
    0%{
        transform: scale(0.3);
        opacity: 0;
        filter: blur(10px);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/*CABEZERA*/
#bt_menu, #bot-main, #bot-close, #part, .contacto{
    display: none;
}

.parte{
    display: none;
}

header{
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header > a{
    background: var(--fondo_base);
    padding: 8px 0;
    text-align: center;
    color: white;
    font-family: var(--links);
    font-size: 100%;
    font-weight: 700;
    width: 12%;
    border-radius: 15px;
    transition: 0.8s;
}

header > a:hover{
    box-shadow: 0 0 5px rgba(32,0,240,1), 0 0 15px rgba(0,228,255,1), 0 0 30px rgba(0,228,255,1);
}

nav{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.full{
    width: 35%;
}

.menu{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items:center;
    gap: 15px;
}

.menu a{
    color: var(--color_texto);
    font-family: var(--links);
    font-weight: 700;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    gap: 2px;
}

.menu a:hover, .menu a:hover svg{
    color: var(--color_hover);
    fill: var(--color_hover);
}

.menu a svg{
    fill: var(--color_texto);
    transition: all 0.5s;
}

/*media queris*/

@media screen and (max-width:800px) {
    .full{
        width: 60%;
    }

    nav{
        width: 60%;
        gap: 20px;
    }

    header > a{
        width: 20%;
    }

    #bot-close, #bot-main{
        display: block;
    }

    #bot-main svg{
        fill: var(--color_texto);
    }

    #bot-close svg, #bot-main svg{
        width: 50px;
        height: 50px;
    }

    .menu{
        background: var(--fondo_base);
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        transition: ease-in-out 0.8s;
        opacity: 0%;
        z-index: 4;
    }

    .menu a{
        color: white;
        font-size: 110%;
        width: 97%;
        padding: 10px 0;
        padding-right: 30px;
        justify-content: flex-end;
        gap: 8px;
    }

    .menu a:hover{
        background: rgba(0, 0, 0, 40%);
    }

    .menu a svg{
        fill: white;
    }

    #bt_menu:checked ~ .menu{
        left: 0px;
        opacity: 100%;
    }
}

@media screen and (max-width:500px){
    .contacto{
        display: block;
        width: 35px;
        height: 35px;
    }

    header > a{
        position: fixed;
        top: 80vh;
        right: 30px;
        width: auto;
        padding: 10px;
        font-size: 0%;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 70%);
        z-index: 3;
        animation: both contacto-boton;
        animation-duration: 2s; 
        animation-iteration-count:3;
        animation-timing-function: ease-in-out; 
    }

    nav{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .menu{
        width: 100%;
    }
}

@keyframes contacto-boton{
    0%{
        transform: rotate(0deg);
        box-shadow: 0 0 5px rgb(0, 104, 0), 0 0 15px rgb(46, 212, 0), 0 0 30px rgb(162, 255, 0);
    }
    50%{
        box-shadow: 0 0 5px rgb(240, 116, 0), 0 0 15px rgb(255, 170, 0), 0 0 30px rgb(255, 217, 0);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 60%);
    }
}


/*primera*/

#firts {
    width: 100%;
    max-height: 540px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    margin-top: 20px;
    overflow-x: hidden;
}

.sliders {
    display: flex;
    justify-content: flex-start;
    width: 100vw; 
    min-width: 100vw;
    aspect-ratio: 16/9;
    position: relative;
    animation: 20s slider infinite ease-in-out;
}

.sliders img {
    width: 100%;
    object-fit: cover;
}

.conten{
    background: linear-gradient(to right,rgba(0,0,0,1)0%,rgba(0,0,0,0.5)70%,rgba(0,0,0,0)100%);
    position: absolute;
    width: 55%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    gap: 15px;
}

.conten h2{
    font-size: 280%;
    font-family: var(--subtitulos);
}

.conten p{
    width: 60%;
    text-align: left;
    font-family: var(--texto);
    color: var(--color_hover);
}

.conten svg{
    width: 70px;
    height: 70px;
}

.conten a{
    color: white;
    font-size: 120%;
    font-weight: 700;
    font-family: var(--links);
    width: 40%;
    background: var(--fondo_base);
    text-align: center;
    border-radius: 15px;
    padding: 3px 0;
    transition: all 0.5s ease-in-out;
}

.conten a:hover{
    box-shadow: 0px 0px 5px rgba(0, 251, 255, 0.8), 0px 0px 10px rgba(0, 251, 255,0.8),0px 0px 15px rgba(0, 251, 255,0.8);
}

.sliders:nth-child(even){
    justify-content: flex-end;
}

.sliders:nth-child(even) > .conten{
    background: linear-gradient(to left,rgba(0,0,0,1)0%,rgba(0,0,0,0.5)70%,rgba(0,0,0,0)100%);
    align-items: flex-end;
    padding-left: 0;
    padding-right: 50px;
}

.sliders:nth-child(even) > .conten p{
    text-align: right;
}

.sliders:nth-child(even) > .conten h2{
    text-align: right;
}

/*animacion*/
@keyframes slider {
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateX(0%);
    }
    28%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    }
    48%{
        transform: translateX(-200%);
    }
    68%{
        transform: translateX(-200%);
    }
    76%{
        transform: translateX(-300%);
    }
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(0%);
    }
}

@media screen and (max-width:800px) {
    .conten{
        width: 75%;
    }
}
@media screen and (max-width:450px) {
    .conten{
        width: 100%;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .conten h2{
        font-size: 210%;
    }

    .conten p{
        width: 90%;
        text-align: center;
    }

    #firts{
        height: 400px;
    }

    .sliders:nth-child(even) > .conten{
        background: linear-gradient(to left,rgba(0,0,0,1)0%,rgba(0,0,0,0.5)70%,rgba(0,0,0,0)100%);
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    
    .sliders:nth-child(even) > .conten p{
        text-align: center;
    }
    
    .sliders:nth-child(even) > .conten h2{
        text-align: center;
    }
}
/*segunda*/
#secont{
    width: 100%;
}

#secont h2{
    width: 100%;
    text-align: center;
    background: rgb(33, 77, 255);
    font-size: 180%;
    font-family: var(--titulos);
    color: white;
    padding: 10px 0;
}

#centrador{
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation: apertura both;
    animation-timeline: view(80% 5%);
    animation-range: entry();
}

.funciones{
    width: 10%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    transition: flex-grow 0.5s ease-in-out;
    flex-grow: 0.5;
}

.funciones img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: all 0.5s;
    filter: grayscale(0.7);
}

.funciones:hover{
    flex-grow: 1.5;
}

.funciones:hover img{
    filter: grayscale(0);
}

.funciones:hover .contain{
    display: flex;
}

.contain{
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: white;
    border-radius: 0 15px 15px;
    padding:50px 0 20px 0;
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content:flex-end;
    gap: 10px;
    align-items: center;
    transition:flex 0.5s;
}

.contain h3{
    width: 100%;
    font-family: var(--subtitulos);
    font-size: 165%;
    text-align: center;
}

.contain a{
    width: 80%;
    font-size: 110%;
    font-weight: 700;
    text-align: center;
    font-family: var(--texto);
    color: var(--color_hover);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.contain a:hover{
    color: var(--color_texto);
}

.contain svg{
    fill: var(--color_hover);
}

.contain a:hover svg{
    fill: var(--color_texto);
}

@media screen and (max-width:800px){
    #centrador{
        flex-direction: row;
        flex-wrap: wrap;
        animation: none;
    }

    .funciones{
        width: 40%;
    }
}

@media screen and (max-width:500px){
    .funciones{
        width: 90%;
    }

    .funciones img{
        filter: grayscale(0);
    }

    .contain{
        display: flex;
    }
}



/*cuarta parte*/

#fourt{
    width: 100%;
    height: auto;
    margin: 30px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#fourt article{
    width: 25%;
    height: auto;
    min-height: 300px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: apertura both;
    animation-timeline: view(80% 5%);
    animation-range: entry();
}


#fourt article i{
    font-size: 450%;
    margin-bottom: 20px;
}

#fourt article svg{
    width: 25%;
}

#fourt article h3{
    font-family: var(--subtitulos);
    font-size: 150%;
}

#fourt article p{
    font-family: var(--texto);
    width: 90%;
    text-align: center;
    font-size: 110%;
}

#fourt article a{
    display: flex;
    font-family: var(--links);
    flex-direction: column;
    align-items: center;
    padding: 3px;
    color: #838383;
    font-weight: 700;
    border-radius: 15px;
}

#fourt article a:hover{
    color: blue;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 25%);
}

.separadores{
    width: 8px;
    height: 250px;
    background: var(--fondo_base);
    border-radius: 35px;
}

.sombra{
    background: rgba(0, 0, 0, 10%);
    border-radius: 10px;
}

/*media queryss*/
@media screen and (max-width:800px) {
    #fourt{
        flex-wrap: wrap;
    }
    #fourt article{
        width: 70%;
        margin: 0;
        margin-top: 50px;
    }
    .separadores{
        display: none;
    }
    #wasa, #domicilio{
        background: rgba(0, 0, 0, 10%);
        border-radius: 10px;
    }
}

/*footer*/
footer{
    width: 100%;
    background: rgba(0,0,0,90%);
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer h3{
    margin: 0 auto;
    color: white;
}

footer article{
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer article .date{
    width: 25%;
    text-align: center;
}

footer article .date h3{
    font-size: 140%;
    font-family: var(--subtitulos);
    color: rgb(68, 48, 202);
}

footer article .date p{
    font-size: 110%;
    font-family: var(--texto);
    color: rgb(167, 167, 167);
}

footer article .date a{
    font-size: 100%;
    font-weight: 700;
    font-family: var(--links);
    color:rgb(151, 151, 151);
    transition: 0.3s;
}

footer article .date a:hover{
    color: rgb(219, 219, 219);
}

footer article .date svg{
    width: 8%;
}

/*medias queris*/

@media screen and (max-width:900px){
    footer article .date{
        width: 30%;
    }

    footer article{
        gap: 10px;
    }
}

@media screen and (max-width:500px){
    footer article .date{
        width: 80%;
    }
}