@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lato&family=Source+Sans+Pro&family=Ubuntu&display=swap');
:root{
    --titulos: 'Bruno Ace SC';
    --subtitulos: 'Ubuntu' ;
    --links: 'lato';
    --texto: 'Source Sans Pro';
    --color_texto: rgb(100, 100, 100);
    --color_hover: rgb(160, 160, 160);
    --fondo_base: linear-gradient(35deg, rgba(32,0,240,1) 0%, rgba(38,0,255,1) 35%, rgba(0,228,255,1) 100%);
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: var(--fondo_base);
    border-radius: 5px;
    transition: 0.4s;
}

body::-webkit-scrollbar-thumb:hover{
    background: #1c4727;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    font-family: var(--links);
}

b{
    font-weight: 600;    
}/*ANIMACION DE ENTRADA*/
@keyframes apertura{
    0%{
        transform: scale(0.3);
        opacity: 0;
        filter: blur(10px);
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/*CABEZERA*/
#bt_menu, #bot-main, #bot-close, #part, .contacto{
    display: none;
}

.parte{
    display: none;
}

header{
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

header > a{
    background: var(--fondo_base);
    padding: 8px 0;
    text-align: center;
    color: white;
    font-family: var(--links);
    font-size: 100%;
    font-weight: 700;
    width: 12%;
    border-radius: 15px;
    transition: 0.8s;
}

header > a:hover{
    box-shadow: 0 0 5px rgba(32,0,240,1), 0 0 15px rgba(0,228,255,1), 0 0 30px rgba(0,228,255,1);
}

nav{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.full{
    width: 35%;
}

.menu{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items:center;
    gap: 15px;
}

.menu a{
    color: var(--color_texto);
    font-family: var(--links);
    font-weight: 700;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    gap: 2px;
}

.menu a:hover, .menu a:hover svg{
    color: var(--color_hover);
    fill: var(--color_hover);
}

.menu a svg{
    fill: var(--color_texto);
    transition: all 0.5s;
}

/*media queris*/

@media screen and (max-width:800px) {
    .full{
        width: 60%;
    }

    nav{
        width: 60%;
        gap: 20px;
    }

    header > a{
        width: 20%;
    }

    #bot-close, #bot-main{
        display: block;
    }

    #bot-main svg{
        fill: var(--color_texto);
    }

    #bot-close svg, #bot-main svg{
        width: 50px;
        height: 50px;
    }

    .menu{
        background: var(--fondo_base);
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        transition: ease-in-out 0.8s;
        opacity: 0%;
        z-index: 4;
    }

    .menu a{
        color: white;
        font-size: 110%;
        width: 97%;
        padding: 10px 0;
        padding-right: 30px;
        justify-content: flex-end;
        gap: 8px;
    }

    .menu a:hover{
        background: rgba(0, 0, 0, 40%);
    }

    .menu a svg{
        fill: white;
    }

    #bt_menu:checked ~ .menu{
        left: 0px;
        opacity: 100%;
    }
}

@media screen and (max-width:500px){
    .contacto{
        display: block;
        width: 35px;
        height: 35px;
    }

    header > a{
        position: fixed;
        top: 80vh;
        right: 30px;
        width: auto;
        padding: 10px;
        font-size: 0%;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 70%);
        z-index: 3;
        animation: both contacto-boton;
        animation-duration: 2s; 
        animation-iteration-count:3;
        animation-timing-function: ease-in-out; 
    }

    nav{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .menu{
        width: 100%;
    }
}

@keyframes contacto-boton{
    0%{
        transform: rotate(0deg);
        box-shadow: 0 0 5px rgb(0, 104, 0), 0 0 15px rgb(46, 212, 0), 0 0 30px rgb(162, 255, 0);
    }
    50%{
        box-shadow: 0 0 5px rgb(240, 116, 0), 0 0 15px rgb(255, 170, 0), 0 0 30px rgb(255, 217, 0);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 60%);
    }
}


/*primera*/

#firts {
    width: 100%;
    height: 590px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
}

#firts::after{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../img/productos/otoño.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    mask-image: url(../img/productos/mascara.gif);
    mask-size: cover;
    mask-position: center;
}

#firts article{
    background: rgba(0,0,0,5%);
    width: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

#firts img{
    width: 10%;
    filter: drop-shadow(0 10px 8px rgba(0,0,0,100%));
}

#firts article h2{
    font-size: 300%;
    color: white;
    text-shadow: 0 8px 10px rgba(0, 0, 0, 80%);
    width: 90%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
}

#firts article p{
    width: 80%;
    color: white;
    font-size: 110%;
    font-family: var(--texto);
    font-weight: 500;
    text-align: center;
    filter: drop-shadow(0 8px 8px rgba(0,0,0,100%));
}

#firts article a{
    background: var(--fondo_base);
    font-weight: 700;
    color: white;
    width: 40%;
    text-align: center;
    padding: 5px 0px;
    border-radius: 15px;
    transition: 0.6s;
}

#firts article a:hover{
    box-shadow: 0 3px 8px 3px rgba(0,0,0,40%);
    background: rgb(3, 142, 255);
}

/*mediasquerys*/
@media screen and (max-width:1100px){
    #firts article h2{
        font-size: 320%;
    }
    #firts article a{
        width: 20%;
    }
}
@media screen and (max-width:900px){
    #firts{
        height: 490px;
    }
    
    #firts article{
        width: 80%;
    }
    #firts article h2{
        font-size: 250%;
    }

    #firts article p{
        width: 80%;
    }
}

@media screen and (max-width:600px){
    #firts article a{
        width: 50%;
    }
    #firts{
        flex-direction: column-reverse;
        height: 500´x;
    }
    #firts article{
        width: 100%;
    }
    #firts img{
        width: 25%;
    }
}
/*segunda*/

#secont {
    background-color: rgba(0,0,0,90%);
    width: 100%;
    height: auto;
    padding: 25px 0 ;
}

#secont article{
    width: 70%;
    margin: 0  auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    gap: 10px;
}

#secont article a{
    background: var(--fondo_base);
    width: 20%;
    height: 25px;
    font-family: var(--links);
    font-size: 110%;
    font-weight:800;
    text-align: center;
    padding: 5px 0;
    color:var(--color_hover);
    transition: 0.4s;
    border-radius: 10px;
}

#secont article a:hover{
    font-size: 115%;
    color: white ;

}
/*medias querys*/
@media screen and (max-width:900px){
    #secont article{
        width: 90%;
    }
}
@media screen and (max-width:700px){
    #secont article a{
        width: 30%;
    }
}
@media screen and (max-width:500px){
    #secont article a{
        width: 40%;
    }
}

/*tercera*/
#trifth{
    width: 100%;
    padding-top: 30px;
    background-image: url(../img/productos/mantenimiento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;

    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items: center;
}

.icon{
    width: 150px;
    height: 150px;
    fill: var(--fondo_base);
    animation: autorotar;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 

}

@keyframes autorotar{
    0%{
        transform: rotate(0deg);
        fill: rgb(0, 42, 255);
    }
    35%{
        transform: rotate(-360deg);
        fill: rgb(53, 63, 255);
    }
    70%{
        transform: rotate(-720deg);
        fill: rgb(0, 255, 238);
    }
    100%{
        transform: rotate(-1080deg);
        fill: rgb(0, 42, 255);
    }
}

.agrup{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,0));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mantenimiento{
    backdrop-filter: blur(3px);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;

    animation: both apertura;
    animation-timeline: view(80% 5%);
    animation-range: entry();
}

.mantenimiento svg{
    width: 60px;
    height: 60px;
}

.mantenimiento h2{
    font-family: var(--subtitulos);
    font-size: 160%;
    color: white;
    text-align: center;
}

.mantenimiento p{
    width: 90%;
    text-align: center;
    font-family: var(--texto);
    color: rgb(218, 218, 218);
}

.mantenimiento a{
    width: 40%;
    padding: 3px 0;
    text-align: center;
    font-size: 110%;
    font-family: var(--links);
    color: aliceblue;
    border-radius: 15px;
    transition: all 0.6s ease-in-out ;
    background: var(--fondo_base);
}

.mantenimiento a:hover{
    background: rgb(3, 142, 255);
}

@media screen and (max-width:500px) {
    .agrup{
        flex-direction: column;
        gap: 30px;
    }

    .mantenimiento{
        width: 90%;
    }
}


/*cuarta parte*/
#fourt{
    display: flex;
    flex-direction: column  ;
}

.title_product{
    width: 100%;
    padding: 8px 0;
    background: rgba(0,0,0,90%);
    font-size: 170%;
    font-family: var(--titulos);
    color: white;
    text-align: center;
}

.Container{
    margin: 0 auto;
    padding: 30px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.product{
    animation: both apertura;
    animation-timeline: view(80% 5%);
    animation-range: entry();
    width: 28%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
    gap: 15px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info h3{
    font-size: 180%;
    font-family: var(--subtitulos);
    width: 90%;
    text-align: left;
    font-weight: 700;
}

.info p{
    width: 80%;
    font-family: var(--texto);
    color: var(--color_texto);
}

.info a{
    width: 60%;
    padding: 5px 0;
    background: rgb(3, 142, 255);
    text-align: center;
    font-size: 110%;
    font-family: var(--texto);
    font-weight: 600;
    border-radius: 15px;
    color: white;
    transition: 0.5s;
}

.info a:hover{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 60%);
}

.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

@media screen and (max-width:800px) {
    .product{
        width: 40%;
    }
}

@media screen and (max-width:500px){
    .product{
        width: 90%;
    }
}

/*cinco*/
#five{
    width: 100%;
    height: auto;
    padding-top: 40px;
    background-image: url(../img/productos/diseño-web.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.five-cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.five-cont h2{ 
    width: 45%;
    text-align:left;
    color: rgb(232, 232, 232);
    font-family: var(--subtitulos);
    font-size: 180%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-shadow:5px 5px 2px rgba(0, 0, 0, 100%);
    align-items: center;
    animation: both apertura;
    animation-timeline: view(80% 5%);
    animation-range: entry();
}

.five-cont h2 svg{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 8px 2px rgba(0,0,0,1));
    animation: iconos 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.information {
    width: 100%;
    padding: 40px 0;
    background: linear-gradient(to top,rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0)100%);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.web{
    width: 45%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    backdrop-filter: blur(3px);
    animation: both apertura;
    animation-timeline: view(80% 5%);
    animation-range: entry();
}

.web svg{
    width: 70px;
    height: 70px;
}

.web a{
    width: 40%;
    padding: 3px 0;
    text-align: center;
    font-size: 110%;
    font-family: var(--links);
    color: aliceblue;
    border-radius: 15px;
    transition: 0.6s ;
    background: var(--fondo_base);
}

.web a:hover{
    background: rgb(3, 142, 255);
}

@keyframes iconos {
    0%{
        filter: drop-shadow(0px 0px 10px rgb(255, 238, 3));
        transform: scale(1.2);
    }
    25%{
        filter: drop-shadow(0px 0px 10px rgb(247, 140, 0));
        transform: scale(1);
    }
    50%{
        filter: drop-shadow(0px 0px 10px rgb(247, 78, 0));
        transform: scale(1.2);
    }
    75%{
        filter: drop-shadow(0px 0px 10px rgb(247, 16, 0));
        transform: scale(1);
    }
    100%{
        filter: drop-shadow(0px 0px 10px rgb(255, 238, 3));
        transform: scale(1.2);
    }
}

.web h3{
    color: white;
    font-size: 180%;
    font-family: var(--subtitulos);

}

.web p{
    width: 90%;
    text-align: center;
    color: var(--color_hover);
    font-family: var(--texto);
}


@media screen and (max-width:800px) {
    .five-cont h2{
        width: 100%;
        justify-content: center;
    }

    .web{
        width: 80%;
    }
    #five{
        background-position: center;
    }
}

@media screen and (max-width:500px){
    .five-cont{
        width: 100%;
    }
    .five-cont h2{
        font-size: 160%;
    }
}
@media screen and (max-width:350px){
    .five-cont h2 svg{
        width: 35px;
        height: 35px;
    }
    .five-cont h2{
        font-size: 140%;
    }
}

/*footer*/
footer{
    width: 100%;
    background: rgba(0,0,0,90%);
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer h3{
    margin: 0 auto;
    color: white;
}

footer article{
    width: 80%;

    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer article .date{
    width: 25%;
    text-align: center;
}

footer article .date h3{
    font-size: 140%;
    font-family: var(--subtitulos);
    color: rgb(68, 48, 202);
}

footer article .date p{
    font-size: 110%;
    font-family: var(--texto);
    color: rgb(167, 167, 167);
}

footer article .date a{
    font-size: 100%;
    font-weight: 700;
    font-family: var(--links);
    color:rgb(151, 151, 151);
    transition: 0.3s;
}

footer article .date a:hover{
    color: rgb(219, 219, 219);
}

footer article .date svg{
    width: 8%;
}
/*medias queris*/

@media screen and (max-width:900px){
    footer article .date{
        width: 30%;
    }

    footer article{
        gap: 10px;
    }
}

@media screen and (max-width:500px){
    footer article .date{
        width: 80%;
    }
}